h1{
	font-family: fantasy;
	font-size: var(24px);
	text-align: center;


}
.row{
	width: 100%;
	border: 0px;
}
h2{
	font-family: helvica;
	font-size: var(14px);
	text-align: center;
	padding-right: 3px;
	margin-top: 0px;
	

}
div{

	float: right;
	width: 100px;
	height: 30px;
	border-style: solid;
    border-color: black;
    border-top: 0px;
    border-right: 0px;

}
#chick{
	background-color: lightpink;
}
#beef{
	background-color: purple;
}
#shushi{
	background-color: skyblue;
}
@media( min-width: 992px) {
	.col-lg-4{
    width: 32%;
	}
}
@media( min-width: 768px) and (max-width:  991px) {
	.col-md-6{
    width: 48%;
	}
	.col-md-12{
    width: 97%;
	}
}
section{
	
	
	 float: left;
	border: 1px;
	border-color:black ;
	background-color: floralwhite;
	 box-sizing: border-box;
	 border-width:3px ;
	 border-style: solid;
    border-color: black;
    margin: 5px;
    margin-bottom: 10px;
	
}
p{
	width: 90%;
	padding: 3px;
	font-family: arial;
	font-size: var(12px);
}
